html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 400px;
  }
  
  h1 {
    text-align: center;
  }
  
  #expense-form {
    margin-top: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    width: 100%;
  }
  