html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    /* max-width: 500px; */
    padding-bottom: 40px;
}

.container {
    max-width: 600px;
}

h1 {
    text-align: center;
}

#expense-form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.btn-outline-primary {
    width: 100%;
}

#report {
    text-align: center;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
