html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    margin-bottom: 10px;
}

/* #buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-cadastrar {
    width: 15%;
    margin: 0 auto;
    padding: auto;
    margin-bottom: 20px;
} */

/*
.btn-outline-primary {
    width: 100%;
}
*/

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
